.accordion {
  display: block;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.accordion_open {
  background-color: #ccc;
}
.accordion_open:after {
  content: "\02796";
}

.accordion:hover {
  background-color: #ccc;
}

.accordion__panel {
  padding: 0.5rem;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
}

.accordion__panel_open {
  max-height: 1000px;
}

